Debug/
.settings/
lv_dev_tools/
**/*.o
demo
.pydevproject
/.metadata/
/.tracecompass
lv_examples/
lvgl/
lv_drivers/
*.txt
.cproject
.project
.gitmodules
.github/
.git/
.editorconfig
Makefile
pc_simulator.launch
Dockerfile
lv_conf.h
lv_ex_conf.h
mouse_cursor_icon.c
lv_drv_conf.h
